@charset "UTF-8";
/* Start of reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* End of reset */
body, html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #414464;
}

main {
  width: 90%;
  height: calc(100% - 55px);
  margin: 0 auto;
  position: absolute;
  left: 5%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: inherit;
  color: inherit;
}

.online {
  display: inline-block;
}

.online:after {
  font-weight: bold;
  content: " •";
  color: #62c762;
}

.nav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  margin-bottom: 3px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.nav__left, .nav__right {
  font-size: 1.6rem;
}

.nav__title--brand {
  color: #4e50b8;
  font-size: 1.8rem;
  font-weight: bold;
}

.nav__title--brand span {
  color: #f0916e;
}

.profile__gallery__bullets {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 9px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.profile__gallery__bullets li {
  margin-bottom: 5px;
}

.profile__gallery__bullets .active {
  color: #4e50b8;
}

.tape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 9px;
}

.tape__recent__person {
  margin-left: -10px;
  padding-right: 10px;
  border-right: 1px solid lightgray;
  position: relative;
}

.tape__future {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  margin-left: 10px;
}

.tape__future .tape__person:first-child {
  padding-left: 0;
}

.tape__future .tape__person:last-child {
  padding-right: 0;
}

.tape__future::-webkit-scrollbar {
  height: 3px;
}

.tape__future::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.tape__person {
  height: 50px;
  padding: 0 10px;
}

.tape__person__choice {
  position: absolute;
  right: 3px;
  top: 20%;
  background-color: white;
  border-radius: 50%;
  color: #4e50b8;
}

.tape__person__pic {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.pool {
  width: 100%;
  position: absolute;
  top: 56px;
  bottom: 60px;
}

.pool__profile {
  height: 100%;
}

.pool__profile__gallery {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.pool__profile__gallery__photo {
  position: absolute;
  width: 100%;
  height: calc(100% - 119px);
  border-radius: 9px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pool__profile__info {
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 10px;
  left: 5%;
  line-height: 1.6rem;
  border-radius: 0 0 9px 9px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.pool__profile__info__details h2 {
  font-size: 1.4em;
  font-weight: bold;
}

.pool__profile__info__details p {
  margin-bottom: 5px;
}

.pool__profile__info__details__add {
  float: right;
  font-size: 2em;
  color: #f0916e;
}

.pool__profile__info__details__more {
  display: block;
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid lightgray;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  -webkit-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
  background: white;
}

.main--profile {
  left: 0;
  width: 100%;
  padding: 0 5%;
  height: auto;
}

.go-back {
  position: absolute;
  left: 10px;
  font-size: 2.5em;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.profile {
  position: relative;
}

.profile__gallery {
  margin-left: -5.5%;
  margin-right: -5.5%;
  height: 95vw;
  position: relative;
  margin-bottom: 50px;
}

.profile__gallery__photo {
  width: 100%;
  height: 95vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 9px 9px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.profile__gallery__actions {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -30px;
  width: 100%;
}

.profile__gallery__actions__prev, .profile__gallery__actions__next {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 9px;
  background-color: white;
  color: lightgray;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.profile__gallery__actions__pass, .profile__gallery__actions__like {
  height: 55px;
  width: 55px;
  line-height: 55px;
  border-radius: 9px;
  font-size: 1.3em;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: white;
}

.profile__gallery__actions__pass {
  background-color: #f0916e;
}

.profile__gallery__actions__pass:hover {
  color: #4e50b8;
}

.profile__gallery__actions__like {
  background-color: #4e50b8;
}

.profile__gallery__actions__like:hover {
  color: #f0916e;
}

.profile__info__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.profile__info__header h1 {
  font-size: 1.4em;
}

.profile__info__header a {
  font-size: 1.9em;
}

.profile__info__label {
  display: block;
  margin-top: 15px;
  color: #bebebe;
  font-size: 0.9rem;
}

.profile__info__content {
  display: block;
  margin: 5px 0;
}

.profile__communicate {
  padding: 15px 0;
  margin: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
}

.profile__communicate:before, .profile__communicate:after {
  content: " ";
  display: table;
}

.profile__communicate:after {
  clear: both;
}

.profile__communicate__gift {
  font-size: 5rem;
  margin-right: 30px;
  float: left;
  color: #4e50b8;
}

.profile__communicate__text {
  padding-top: 15px;
}

.profile__communicate__text h2 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.profile__communicate__text p {
  font-size: 0.9rem;
  color: gray;
}

.profile__communicate a {
  display: block;
  width: 100%;
  margin-top: 30px;
  background-color: #4e50b8;
  padding: 15px;
  text-align: center;
  color: white;
  border-radius: 9px;
}

.profile__videos {
  width: 100%;
}

.profile__videos__title {
  font-weight: bold;
  padding: 5px 0;
}

.profile__videos__title:before, .profile__videos__title:after {
  content: " ";
  display: table;
}

.profile__videos__title:after {
  clear: both;
}

.profile__videos__title span {
  font-weight: normal;
  color: gray;
  padding-left: 5px;
}

.profile__videos__title .profile__videos__more {
  font-size: 0.9rem;
  float: right;
}

.profile__videos__tape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 10px;
}

.profile__videos__tape::-webkit-scrollbar {
  height: 3px;
}

.profile__videos__tape::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.profile__videos__tape img {
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.profile__videos__tape img:first-child {
  margin-left: 0;
}

.profile__verified {
  padding: 15px 0;
}

.profile__verified h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.profile__verified__card {
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.profile__verified__card:before, .profile__verified__card:after {
  content: " ";
  display: table;
}

.profile__verified__card:after {
  clear: both;
}

.profile__verified__card__icon {
  float: left;
  font-size: 1.5rem;
}

.profile__verified__card__status {
  font-size: 1rem;
  float: right;
  width: 1.7rem;
  height: 1.7rem;
  text-align: center;
  padding-top: 0.35rem;
  border-radius: 5px;
  color: white;
  background-color: #4e50b8;
}

.profile__verified__card__text {
  margin-left: 3rem;
}

.profile__verified__card__text h5 {
  font-weight: bold;
  font-size: 0.9rem;
}

.profile__verified__card__text span {
  font-size: 0.7rem;
  color: gray;
}

.profile__verified__card .fa-images {
  color: #f0916e;
}

.profile__verified__card .fa-facebook-square {
  color: #3b5998;
  font-size: 1.8rem;
}

.profile__verified__card .fa-instagram {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.3rem;
  line-height: 1.6rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 6px;
  color: white;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.profile__top {
  display: block;
  margin-bottom: 60px;
}
/*# sourceMappingURL=style.css.map */